<footer class="site-footer">
  <div class="container">
    <p>&copy; {{ helpers.currentYear }} {{ site.author.name }}. All rights reserved.</p>
    <div class="social-links">
      <a href="https://github.com/{{ site.github }}" target="_blank" rel="noopener">GitHub</a>
    </div>
  </div>
</footer>
